<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>

<div th:fragment="welcome">
	<div title="欢迎使用" style="padding:20px;overflow:hidden; color:red; ">
		<p style="font-size: 50px; line-height: 60px; height: 60px;" th:if="${session.usertype == '1'}" th:text="${session.admin.username} + ' 您好！'"></p>
		<p style="font-size: 50px; line-height: 60px; height: 60px;" th:if="${session.usertype == '2'}" th:text="${session.host.hostName} + ' 您好！'"></p>
		<p style="font-size: 25px; line-height: 30px; height: 30px;">欢迎使用社区管理信息系统</p>

		<hr />
		<h2>系统环境</h2>
		<p>系统环境：Windows</p>
		<p>开发人员名单：JiekerTime 和他的五个舍友（其实整个系统都是我写的，他们压根就没写过代码，淦！）</p>
		<p>项目工时为4天，内容潦草，且涉及很多复制粘贴错误，如有发现，尽请修改或指正！感谢！</p>
		<p>项目模板简单，可以轻松修改项目内容，是一个万能模板，有问题可以加我微信进行交流</p>
		<p>微信：JiekerTime</p>
		<p>系统采用技术： springboot + mybatis + easyui</p>
	</div>
</div>
</body>
</html>
